	<h2><%= t('.log_in_legend') %></h2>
	<%= form_tag login_path, remote: true do %>
	<p>
		<%= label_tag :email, t('.email') %><br />
		<%= text_field_tag :email, params[:email], class: "text" %>
	</p>
	<p>
		<%= label_tag :password, t('.password') %><br />
		<%= password_field_tag :password, params[:password], class: "text" %>
	</p>
	<center>
	<p>
		<%= button_tag t('.submit'), class: "button green", style: "height:40px; width:90px;font-size:16px;" %>
		</p>
		<p>
			<%= t('.dont_have_acc_yet')%> <%= link_to t('.register'), register_path %> <%= t(".now") %>
		</p>
		</center>
	<% end %>
