<h1>Архив прайс-листов</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Price</th>
    <th>Period</th>
    <th>Available for companies</th>
    <th>Status</th>
    <th>Date start</th>
    <th>Date end</th>
  </tr>

<% @pricelists.each do |pricelist| %>
  <tr>
    <td><%= pricelist.name %></td>
    <td><%= pricelist.price %></td>
    <td><%= pricelist.period %></td>
    <td><%= pricelist.available_for_companies %></td>
    <td><%= pricelist.status %></td>
    <td><%= pricelist.date_start %></td>
    <td><%= pricelist.date_end %></td>
  </tr>
<% end %>
</table>